@use "../../../assets/mixins";
@use "../../../assets/colors";
@use "../../../assets/animations";

.musicPlayer {
  @include mixins.main-Gradient();
  @include mixins.align-content($direction: column, $cross: center);
  border-radius: 10px;
  width: 100%;
  padding: 20px 25px 10px;

  img {
    width: 100px;
  }
  .track {
    @include mixins.align-content($main: space-between);
    width: 100%;
    margin-bottom: auto;
  }
  .musicPlayer__progressBar {
    position: relative;
    margin-top: 15px;
    width: 100%;
    h6 {
      position: absolute;
      color: colors.$white;
      top: -16px;
    }
    .musicPlayer__timer {
      left: 0;
    }
    .musicPlayer__songLength {
      right: 0;
    }
  }

  h6 {
    color: colors.$white;
    margin-top: 5px;
  }
  .controls {
    @include mixins.center-row();
    margin-top: 5px;
    gap: 10px;
    button:hover {
      transition: all 0.1s;
      transform: scale(1.1);
      @include animations.pulse();
      cursor: pointer;
    }
    button {
      @include mixins.adjust-background();
      border: 0;
    }
    .back,
    .forward {
      width: 28px;
      height: 28px;
    }
    .play,
    .pause {
      background-color: colors.$mediumPurple;
      border-radius: 45px;
      width: 35px;
      height: 35px;
    }

    .play {
      background-image: url(/icons/mediaplayer/play.svg);
    }
    .pause {
      background-image: url(/icons/mediaplayer/pause.svg);
    }
    .back {
      background-image: url(/icons/mediaplayer/rewind.svg);
    }
    .forward {
      background-image: url(/icons/mediaplayer/fastForward.svg);
    }
  }
}

.card.rooms__media {
  .musicPlayer {
    .mantine-Slider-root {
      margin-top: auto;
    }
    .mantine-Slider-bar {
      background-color: colors.$mediumPurple;
    }
    .mantine-Slider-track::before {
      background: colors.$white;
    }
    .mantine-Slider-track {
      height: 5px;
    }
    .mantine-Slider-thumb {
      border: 0;
      background-color: colors.$mediumPurple;
      width: 0;
    }
  }
}
