@use "../../../assets/mixins";
@use "../../../assets/colors";

.card.rooms__thermostat {
  grid-area: thermostat;
  @include mixins.align-content(
    $direction: column,
    $main: space-between,
    $cross: center
  );
  gap: 40px;
  padding: 12px 35px;

  h1 {
    color: colors.$text;
    font-size: 54px;
  }
  .rooms__thermostatHeader {
    width: 100%;
    @include mixins.align-content($main: space-between, $cross: flex-start);
    h4 {
      color: colors.$text;
    }
  }
  .rooms__thermostatOptions {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
  }
}

@media ((max-width: 750px) and (min-width: 551px)) or (max-width: 320px) {
  .card.rooms__thermostat {
    .rooms__thermostatOptions {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }
}
