@use "../../assets/colors";
@use "../../assets/fonts";
@use "../../assets/mixins";

.home__container {
  flex: 1;
  height: 100vh;

  padding: 40px 20px 20px;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 60px 1fr 1fr;
  grid-template-areas:
    "options options"
    "col1 col2"
    "col1 col2";
  gap: 20px;
  .mantine-Select-wrapper {
    position: relative;
    left: 0;
    top: 0;
    width: auto;
    max-width: 100px;
  }
  .mantine-Select-input {
    height: 1.5rem;
    font-size: 12px;
    padding: 8px;
  }
}

.home__col1 {
  display: grid;
  grid-area: col1;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 85px 1fr;
  grid-template-areas:
    "weather bills"
    "appStats homeStats"
    "powerGraph powerGraph";

  gap: 20px;
  .weather {
    color: colors.$green;
  }

  .bills {
    text-decoration: underline;
  }
  .weather.icon,
  .bills {
    margin-left: auto;
  }
  .bills.expand {
    align-self: center;
  }
  .powerConsumption {
    grid-area: powerGraph;
    @include mixins.align-content($direction: column, $main: space-between);
    gap: 25px;
    .chart {
      position: relative;
      margin: auto;
      height: 90%;
      width: 80%;
    }
  }
}

.home__col2 {
  @include mixins.center-column();
  grid-area: col2;
  gap: 20px;
  .card {
    position: relative;
    @include mixins.center-column();

    padding: 12px 20px;
    flex: 1;
    max-height: 33%;
  }
  .card.electricity {
    .chart {
      position: relative;
      max-height: 80%;
      flex: 1;
    }
  }
  .card.activity {
    .chart {
      position: relative;
      flex: 1;
    }
  }
}

.chart__header {
  @include mixins.align-content($main: space-between, $cross: center);
  h3 {
    color: colors.$text;
  }
  margin-bottom: auto;
  width: 100%;
}

.home__header {
  margin-right: auto;
  h3 {
    margin-top: 5px;
    color: colors.$text;
  }
}
