$pinkishPurple: #7f2bb3;
$lightIndigo: #704ed3;
$green: #5eb247;
$lavender: #e7e1f8;
$majorBlue: #6e41f2;
$red: #e02928;
$text: #0c0c0c;
$white: #fdfdfe;
$white75: rgb(253, 253, 254, 0.9);
$gray: #f3f3f3;
