@use "./assets/colors";
@use "./assets/fonts";
@use "./assets/mixins";

h1 {
  @include mixins.set-font(fonts.$h1, 600, colors.$white);
}

h2 {
  @include mixins.set-font(fonts.$h2);
}

h3 {
  @include mixins.set-font(fonts.$h3, $color: colors.$white);
}

h4 {
  @include mixins.set-font(fonts.$h4, $color: colors.$white);
}

h5 {
  @include mixins.set-font(fonts.$h5, 400);
}

h6 {
  @include mixins.set-font(fonts.$h6, 400);
}

button {
  @include mixins.set-font(fonts.$button, 600);
}

.mantine-Switch-thumb {
  background-color: colors.$lightIndigo;
  border-color: colors.$lightIndigo;
}
input:checked + * > .mantine-1nqstp3 {
  background-color: colors.$white;
}
.mantine-Switch-track {
  border-color: colors.$lavender;
  background-color: colors.$white;
}
input:checked + .mantine-ejxzu {
  background-color: colors.$lightIndigo;
  border-color: colors.$lavender;
}
